/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  overflow: hidden; /* Added to prevent vertical scrollbar */
}

/* Left side for the picture */
.left-side {
  flex: 1;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Added to ensure the image doesn't overflow */
}

/* Image styles with blur effect */
.left-side img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px); /* Adjust the blur radius as needed */
}

/* Right side for login */
.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form container */
.form-container {
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Input styles */
input {
  width: 70%;
  padding: 5px;
  margin: 10px 0; /* Adjusted margin for better spacing */
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

/* input[type="password"] styles */
input[type="password"] {
  padding-right: 30px; /* Keep padding for the text */
}

/* Password toggle button styles */
.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: -50px; /* Move to the right */
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Login button styles */
button {
  width: 40%;
  padding: 10px;
  background-color: #3D1111;
  color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

/* Continue with social buttons */
.social-button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Facebook button styles */
.facebook-button {
  background-color: #ffffff;
  border-radius: 20px; /* Adjust the value as needed */
}

/* Google button styles */
.google-button {
  background-color: #ffffff;
  border:
    } 